.hero-image {
  background-image: url("../assets/img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.hero-image div{
  padding-top: 20px;
}

.hero-image div img{
  width: 350px;
}

.container{
  margin-top: 10px;
}

.nav-container{
  background-color: #454545;
}


.nav-item a{
  color: #ffffff;
}


.footer{
  background-color: #454545;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer-link{
  color: #ffffff;
}

.footer-link a{
  color: #ffffff;
}
