
<div class="container-fluid hero-image">
  <div class=" col-lg-12">
    <img class="mx-auto d-block" src="../assets/img/bulletproof-logo.png" alt="Bulletproof bullet">
  </div>
</div>

<nav class="container-fluid nav-container">
  <div class="row">
    <div class="mx-auto">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bulletproof">Bulletproof Software</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"routerLink="/rules">Reglas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container-fluid footer foot">
  <!--Copyright-->
  <div class="footer-copyright text-center footer-link">
    © 2018 Copyright:
    <a href="#" > BulletProof.com </a>
  </div>
  <!--/Copyright-->
</div>
