<div class="container">
  <h2>Lineamientos</h2>
  <ul>
    <li>Se trabajará en equipo manteniendo el respeto mutuo entre sus miembros.
    </li>
    <li>Se trabajará con el concepto de solidaridad a cada momento.
    </li>
    <li>Se trabajará con el compromiso de calidad para cada una de nuestras
      responsabilidades.
    </li>
    <li>Se mantendrá la libertad de expresión y el libre aporte de ideas, sin embargo el
      encargado de cada rol tendrá la decisión final sobre las acciones a realizar.
    </li>
    <li>Se mantendrá respeto al coordinador y a las decisiones que tome para el rumbo
      del proyecto.
    </li>
    <li>En caso de faltar el coordinador en algún momento, planeación asumirá el puesto
      temporalmente, sus decisiones serán respetadas tal como las del coordinador.

    </li>
  </ul>


</div>
<div class="container">
  <h2>Amonestaciones</h2>
  <p>Las amonestaciones serán sanciones realizadas por el coordinador o encargado
    de planeación, hacia un integrante del grupo que cometa acciones de
    consideración inadecuada con la ética y cordialidad, esperadas para un correcto
    trabajo en equipo.
    Cuando un integrante pierda la mitad de sus puntos, el grupo se verá obligado a
    hablar con el personal docente encargado del curso.
  </p>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Descripción</th>
    <th scope="col">Puntos</th>
  </tr>
  </thead>
  <tbody class="table-striped">
  <tr>
    <th scope="row">Ausencias e impuntualidad (Excepto aquellas justificadas).</th>
    <td>5</td>

  </tr>
  <tr>
    <th scope="row">Faltas de respeto a un integrante.</th>
    <td>5</td>

  </tr>
  <tr>
    <th scope="row">Incumplimiento de responsabilidades.</th>
    <td>10</td>

  </tr>
  <tr>
    <th scope="row">Trabajo realizado con mala calidad.</th>
    <td>5</td>

  </tr>
  <tr>
    <th scope="row">Incumplimiento en los plazos previamente establecidos.</th>
    <td>10</td>

  </tr>
  <tr>
    <th scope="row">No respetar las decisiones del coordinador.</th>
    <td>10</td>

  </tr>
  <tr>
    <th scope="row">No respetar las decisiones de los roles.</th>
    <td>10</td>

  </tr>
  <tr>
    <th scope="row">La falta de interés y/o colaboración.</th>
    <td>10</td>

  </tr>
  <tr>
    <th scope="row">Cometer plagio en el trabajo presentado.</th>
    <td>10</td>

  </tr>
  <tr>
    <th scope="row">No mantener una actitud civilizada y cordial durante las reuniones.</th>
    <td>5</td>

  </tr>
  <tr>
    <th scope="row">Presentarse a las reuniones bajo efectos de licor o alguna droga.</th>
    <td>5</td>

  </tr>
  </tbody>
</table>
</div>
<div class="container">
  <h2>Proceso de aprobación de entregable</h2>
  <h3>Entregas de programación</h3>
  <ul>
    <li>Cada integrante realizará sólo las tareas asignadas por el coordinador a su
      persona, el encargado de planeación tomará nota del integrante, tarea y fecha de
      entrega.
    </li>
    <li>Una vez la tarea sea entregada, el encargado de desarrollo revisará que cumpla
      los estándares de programación propuestos para el proyecto.
    </li>
    <li>Una vez aprobada una entrega por el desarrollador, el coordinador revisa el
      cuaderno del programador.
    </li>
    <li>Cuando un entregable cumpla los estándares, el desarrollador lo integrará con el
      resto de la solución y procederá a comunicarse con QA para que revise la solución
      y la redacción de los textos de la misma.
    </li>
    <li>Una vez que QA dé su visto bueno para la solución, procederá a comunicarse con
      configuración para que realice el respaldo de la solución, cuando configuración
      cumple su proceso le avise a planeación y a coordinación.
    </li>

  </ul>
  <h2>Entregas de documentación
  </h2>
  <ul>
    <li>Cada integrante realizará sólo las tareas asignadas por el coordinador a su
      persona, el encargado de planeación tomará nota del integrante, tarea y fecha de
      entrega.
    </li>
    <li>Una vez la tarea sea entregada, el encargado de QA revisará que cumpla la
      calidad esperada para la misma con respecto al proyecto.
    </li>
    <li>Cuando control de calidad aprueba la entrega le informa a configuración para
      que realice respaldos de la misma, y procede a avisar a coordinación y a
      planeación que dicha persona cumplió su tarea.
    </li>
  </ul>
</div>
