
<div class="container">
  <div class="row">
    <h2 class="mx-auto">Mision</h2>
  </div>
  <div class="row">
    <p>
      Ser una empresa desarrolladora de software siempre en la vanguardia en la utilización de la más avanzada tecnología en desarrollos a la medida así como en la optimización de datos e información para así poder ofrecer a nuestros clientes productos de primera en la simplificación de procesos informáticos que se ajusten a las necesidades.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mx-auto">Vision</h2>
  </div>
  <div class="row">
    <p>
      Posicionarnos como una empresa líder en tecnología de software a nivel nacional donde podamos abarcar todo tipo de clientes y a su vez crear relaciones de confianza donde aseguramos la entrega de soluciones tecnológicas que suplan las necesidades esperadas.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
  <h2 class="mx-auto">Valores</h2>

    <ul class="list-unstyled">
      <li class="media">
        <img class="mr-3" src="../../assets/img/icons/growth.svg" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Emprendimiento:</h5>
          Somos una compañía que siempre buscamos lo más avanzado y eficiente para trabajar desarrollando proyectos nuevos.
        </div>
      </li>
      <li class="media my-4">
        <img class="mr-3 align-middle" src="../../assets/img/icons/meeting.svg" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Responsabilidad:</h5>
          Tenemos un alto nivel de responsabilidad con nuestros clientes siempre le ofrecemos el mejor trato y no solo trabajamos con ellos si no que tratamos de ir más allá y brindarle la mejor asesoría para que su negocio crezca y tenga éxito.
        </div>
      </li>
      <li class="media">
        <img class="mr-3 align-middle" src="../../assets/img/icons/collaboration.svg" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Trabajo en equipo:</h5>
          Nuestro equipo siempre trabaja junto la opinión de todos los colaboradores siempre ha sido de gran importancia. cuando se trabaja unido a personas comprometidas se logra dar avances en las mejores direcciones.
        </div>
      </li>
    </ul>

</div>
</div>
