.col-blue{
  background-color: #5386BC;
  color: #ffffff;
}

.container{
  margin-top: 30px;
}

.icon-container{
  padding-top: 10px;
  width: 10%;
}
.icon-people{
  width: 72px;
}

/*.col-gray{*/
  /*background-color: #454545;*/
  /*color: #ffffff;*/
/*}*/
