
<div class="container">
  <div class="row">
    <h2>Sobre Nosotros</h2>
  </div>
<div class="row">
  <div class="col-lg-6 col-blue rounded">
    <div class="icon-container mx-auto">
      <img src="../../assets/img/icons/pm.svg" alt="Project manajet icon" class="icon-people">
    </div>
    <p>
      Nombre completo: Luis Diego Salas Arce
      <br>
      Correo electrónico: lsalasa@ucenfotec.ac.cr
      <br>
      Teléfono: 72024304
      <br>
      Dirección: San José, Montes de Oca, San Pedro
      <br>
      Fortalezas: Responsable, experiencia laboral que puede ser aplicada al proyecto.
      <br>
      Debilidades: Hacer de un problema simple algo complejo, Poca paciencia
      <br>
      Rol asignado: Coordinador.
      <br>
      Descripción del rol: Encargado de velar por el cumplimiento de roles del equipo  además de coordinar el desarrollo de todas las tareas las cuales forman parte del proyecto en sí.
      Horario de trabajo: Lunes, Miércoles y Viernes después de las 10pm. Martes y Jueves después de las 6:30pm Sabados y Domingos 8 horas
      <br>
    </p>
    <p> Experiencia: Actual: Experian: Ingeniero en Desarrollo Software Senior.</p>
    <ul>
      <li>Ingeniero en automatización en tecnologías RPA (Robotic Process Automation) y RDA (Robotic Desktop Automation)</li>
    </ul>
    <p>Anterior: Ernst & Young: Ingeniero en Sistemas, Consultor de Software</p>
    <ul>
      <li>Ingeniero en automatización en tecnologías RPA (Robotic Process Automation) y RDA (Robotic Desktop Automation) Desarrollo de software empresarial: Softwares ETL(Extract, Transform and Load).</li>
    </ul>
  </div>
  <div class="col-lg-6 col-gray rounded">
    <div class="icon-container mx-auto">
      <img src="../../assets/img/icons/suport.svg" alt="Project manajet icon" class="icon-people">
    </div>
    <p>
    Nombre completo: Marco Durán Elizondo
  <br>
    Correo electrónico: mdurane@ucenfotec.ac.cr
    <br>
    Teléfono: 87844552
    <br>
    Dirección: San José, Puriscal, San Antonio
    <br>
    Fortalezas: Responsable, ordenado, cooperativo
    <br>
    Debilidades: Dificultad de manejo de estrés, impaciente, despistado
    <br>
    Rol asignado: Soporte.
    <br>

    Descripción del rol: Encargado de velar por la configuración correcta de cada software usado en el proyecto y por cada integrante del equipo, además controla y respalda las versiones de los proyectos desarrollados por el equipo.
    <br>
    Horario de trabajo: Lunes, Miércoles de 1 pm a 6 pm, Martes y Jueves de 10 am a 6 pm, Viernes 9 am a 11 am - 4 pm a 6 pm, Sábado y Domingo de 1 pm a 7 pm.
    </p>
    <p>Anterior: </p>
      <ul>
        <li>En proyecto 1 se hizo una aplicación para un dentista donde se manejaba todos los expedientes de los pacientes, trabajamos con HTML, CSS, PHP, JS Y MySQL</li>
        <li>En proyecto 2 fue un sistema para la Universidad para solicitudes de becas, trabajomos con ASP.NET y SQL Server</li>
    </ul>
  </div>
</div>
  <div class="row">
    <div class="col-lg-6 col-gray rounded">
      <div class="icon-container mx-auto">
        <img src="../../assets/img/icons/dev.svg" alt="Project manajet icon" class="icon-people">
      </div>
      <p>
      Nombre completo: Glenn Rojas Pinda
    <br>
      Correo electrónico: grojasp@ucenfotec.ac.cr
      <br>
      Teléfono: 88283413
      <br>
      Dirección: San José, Curridabata, Curridabat
      <br>
      Fortalezas: Experiencia en diseño web, perseverante, trabajador.
      <br>
      Debilidades: Obstinado, Inseguro, Acumulador de nuevo trabajo.
        <br>
      Rol asignado: Desarrollo.
      <br>
      Descripción del rol: Vela por el cumplimiento de los estándares previamente definidos por el mismo en codificación del proyecto y encargado del desarrollo de las aplicaciones.
      <br>
      Horario de trabajo:  Lunes, Martes y Viernes de 10pm a 12am, Martes y Jueves de 5 pm a 10 pm, Sábado y Domingo de 12pm a 7pm.
      </p>
      <p> Experiencia: Actual: The hangar: Web Developer</p>
      <ul>
        <li>En Hangar trabajo para la cuenta de Nissan nos encargamos de hacer los cambios en el sitio de información como el carrito de compras. cuando la carga de trabajo baja por lo general ayudo en la creación de banner publicitarios en JS con Grunt, HTML y CSS. y tambien haciendo actualizaciones en páginas para otros clientes usando las tecnologías JQuery, HTML y CSS.</li>
      </ul>
      <p>Anterior: Growth Acceleration Partner: Web Developer</p>
      <ul>
        <li>Mí día a día involucraba usar HTML5 y CSS para la creación de sitios utilizando herramientas CMS como Kentico, Ektron y SiteCore. Además de lo anterior desarrolle habilidades como front end y diseño web.</li>
      </ul>
    </div>
    <div class="col-lg-6 col-blue rounded">
      <div class="icon-container mx-auto">
        <img src="../../assets/img/icons/qa.svg" alt="Project manajet icon" class="icon-people">
      </div>
      <p>
      Nombre completo: Roberto Beeche
      <br>
      Correo electrónico: rbeecheb@ucenfotec.ac.cr
        <br>
      Teléfono: 70458859
        <br>
      Dirección: San José, La Sabana
        <br>
      Fortalezas: Entendimiento rápido, Empático, Trabajador, Cuidadoso, Paciente, Eficaz
        <br>
      Debilidades: Inseguro, Distraído, Prepotente, Impuntual, Procastinador.
        <br>
      Rol asignado: Calidad.
        <br>
      Descripción del rol: Encargado de velar de que los entregables tanto documentos como aplicación cumplan con las reglas de calidades definidas, encargado de definir si el entregable es aceptado o rechazado.
        <br>
        Horario de trabajo:  Lunes, Martes y Viernes de 12am a 4pm, Martes y Jueves de 4 pm a 10 Sábado y Domingo de 12pm a 7pm.
      </p>
      <p>Anterior:</p>
      <ul>
        <li>En proyecto 1 donde se trabajo con HTML, CSS, PHP, JS Y MySQL</li>
        <li>En proyecto 2 donde trabajomos con ASP.NET y SQL Server</li>
      </ul>

    </div>
  </div>
</div>
